

* {
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.home-page-hero-bg {
    background-image: url(../images/stranger-things-season-5.jpeg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    border: none;
    /* background-color: gray; */
    z-index: -1;
}

.home-page-header {
    margin-left: 30px;
    padding-top: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100px;
}

.logo {
    margin-right: 20px;
}

.header-item {
    padding: 0px 10px 0px 10px;
}

.active {
    text-decoration: underline;
}

.header-item:hover {
    font-weight: 600;
}

.hero-card-featured-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    position: relative;
    top: 20%;
    margin-left: 30px;
}

.n-series {
    display: flex;
    align-items: center;
}

.series-font {
    font-weight: 500;
    letter-spacing: 5px;
    color: lightgray;
}

.netflix-n-logo {
    max-height: 30px;
    margin-bottom: 5px;
}

.st-logo {
    max-width: 450px;
    margin-bottom: 10px;
}

.fc-rank {
    font-weight: 600;
    margin-bottom: 15px;
}

.fc-desc {
    margin-bottom: 15px;
}

.fc-btn {
    width: 150px;
    height: 50px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
}

.primary-btn {
    background-color: rgb(217, 217, 217);
}

.primary-btn:hover {
    background-color: red;
    color: white;
    transition: 300ms;
}

.secondary-btn {
    background-color: rgb(70, 69, 69);
    color: #ffffff;
    opacity: 0.8;
}

.preview-player {
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto;
    flex-direction: column;
    padding: 100px 0 0 0;
    background-color: black;
}

.dismiss-btn {
    margin-bottom: 20px;
}