* { 
  box-sizing: border-box;
}

body, html {
  min-width: 320px;
  background-color: rgba(58, 58, 58, 0.952);
  background-repeat: no-repeat;
  
  font-size: 16px;
  color: #f3f3f3;
}

.nav {
  position: absolute;
  top: 0;
  z-index: 1;
}
